.presentations-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: dense;

    & > .location, & > .date {
        text-align: right;
    }

    & > *:nth-child(4n+1) {
        grid-area: span 2/ span 1
    }
    
    & > *:nth-child(4n+4) {
        grid-area: span 1 / span 2;
        margin-bottom: 2rem
    }
}
