<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/pr/26/assets/static/style-bf567ca8.BcWtY8Ol.css">
        <link rel="stylesheet" type="text/css" href="/pr/26/assets/static/view-presentation.B8dU2LIX.css">
        <meta charset="UTF-8" />
        
    <title>Benchmarking like a Scientist: Communicating Code&#039;s Performance.</title><meta property="og:title" content="Benchmarking like a Scientist: Communicating Code&#039;s Performance." />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charSet="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1180FLF5RC"></script><meta name="description" content="This session will explore several aspects of benchmarking. We will start by introducing the concept of code benchmarking, what it is and why it is important in software development. We will then cover the different approaches to benchmarking, including micro, macro, and synthetic benchmarking, and examine the pros and cons of each method.
Next, we will delve into the best practices of benchmarking and the common pitfalls to avoid. This will include topics such as selecting the right metrics, avoiding bias in your benchmark results, and controlling environmental factors to ensure repeatability and reproducibility. We will also discuss the importance of benchmarking throughout the development process, and how it can be used to inform design decisions and optimize code.        In addition to the technical aspects of benchmarking, we will also be focusing on the crucial aspect of communication. We will cover how to present your benchmark results in a clear and concise manner, so that they can be easily understood by both technical and non-technical stakeholders. This includes best practices for visualizing your results, and tips for effectively communicating the performance of your code.
This session is aimed at developers of all levels, from those new to the field to experienced professionals. Whether you are looking to improve your benchmarking skills, or simply want to gain a deeper understanding of the science behind code performance, this session will provide you with the knowledge and tools you need to succeed."/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css"/><script>window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-1180FLF5RC');
          </script>
    
    
    <meta property="og:image" content="https://craigory.dev/presentations/view/that-conf-wi-2023-benchmarking/og.png"><meta name="twitter:card" content="summary_large_image">
  
      </head>
      <body>
        
        <div id="root"></div>
        
        <script id="vike_pageContext" type="application/json">{"pageProps":{"is404":false},"urlPathname":"\\/presentations\\/view\\/that-conf-wi-2023-benchmarking","urlParsed":{"href":"\\/presentations\\/view\\/that-conf-wi-2023-benchmarking","protocol":null,"hostname":null,"port":null,"origin":null,"pathname":"\\/presentations\\/view\\/that-conf-wi-2023-benchmarking","pathnameOriginal":"\\/presentations\\/view\\/that-conf-wi-2023-benchmarking","search":{},"searchAll":{},"searchOriginal":null},"routeParams":{"presentation":"that-conf-wi-2023-benchmarking"},"_urlRewrite":null,"pageId":"\\/pages\\/presentations\\/view"}</script>
        <script id="vike_globalContext" type="application/json">{}</script>
        <script src="/pr/26/assets/entries/entry-server-routing.DOMFRIEi.js" type="module" async></script>
        <link rel="modulepreload" href="/pr/26/assets/entries/pages_presentations_view.Dp4qIrFq.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-BiSMlUrc.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-C_jR_L7K.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-DxuxlC8X.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-CGzni5O_.js" as="script" type="text/javascript">
      </body>
    </html>