<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/pr/53/assets/static/style-96c81c9f.BcWtY8Ol.css">
        <link rel="stylesheet" type="text/css" href="/pr/53/assets/static/src.B8dU2LIX.css">
        <meta charset="UTF-8" />
        
    <title>Smooth Scaling, Happy Coding: Navigating Monorepo Adoption with Nx</title><meta property="og:title" content="Smooth Scaling, Happy Coding: Navigating Monorepo Adoption with Nx" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charSet="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1180FLF5RC"></script><meta name="description" content="When your team grows, things get complicated fast. More apps mean more dependencies, code duplication, and headaches managing multiple repositories. At first, separate repos feel manageable, but soon you&#x27;re stuck juggling inconsistent tooling, duplicated effort, and tricky dependency puzzles.

This talk walks through the real-world journey of adopting a monorepo strategy, sharing the tough spots you&#x27;ll probably encounter along the way. I&#x27;ll show how using Nx can ease the transition and make managing your monorepo a lot smoother as well as practical ways Nx helps keep your builds fast, your workflows clean, and your developers happy.

Whether you&#x27;re already feeling the pain of scaling or just curious about monorepos, you&#x27;ll leave with useful tips, real-life insights, and solid strategies for keeping growth smooth and your codebase healthy."/><meta property="og:description" content="When your team grows, things get complicated fast. More apps mean more dependencies, code duplication, and headaches managing multiple repositories. At first, separate repos feel manageable, but soon you&#x27;re stuck juggling inconsistent tooling, duplicated effort, and tricky dependency puzzles.

This talk walks through the real-world journey of adopting a monorepo strategy, sharing the tough spots you&#x27;ll probably encounter along the way. I&#x27;ll show how using Nx can ease the transition and make managing your monorepo a lot smoother as well as practical ways Nx helps keep your builds fast, your workflows clean, and your developers happy.

Whether you&#x27;re already feeling the pain of scaling or just curious about monorepos, you&#x27;ll leave with useful tips, real-life insights, and solid strategies for keeping growth smooth and your codebase healthy."/><meta property="og:url" content="https://craigory.dev/pr/53/presentations/view/kcdc-2025-monorepo-nx"/><meta property="og:image:alt" content="Smooth Scaling, Happy Coding: Navigating Monorepo Adoption with Nx"/><meta name="twitter:image:alt" content="Smooth Scaling, Happy Coding: Navigating Monorepo Adoption with Nx"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css"/><script>window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-1180FLF5RC');
          </script>
    
    
    <meta property="og:image" content="https://craigory.dev/pr/53/presentations/view/kcdc-2025-monorepo-nx/og.png"><meta name="twitter:card" content="summary_large_image">
  
      </head>
      <body>
        
        <div id="root"></div>
        
        <script id="vike_pageContext" type="application/json">{"pageProps":{"is404":false},"urlPathname":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","urlParsed":{"href":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","protocol":null,"hostname":null,"port":null,"origin":null,"pathname":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","pathnameOriginal":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","search":{},"searchAll":{},"searchOriginal":null},"routeParams":{"presentation":"kcdc-2025-monorepo-nx"},"pageId":"\\/pages\\/presentations\\/view"}</script>
        <script id="vike_globalContext" type="application/json">{}</script>
        <script src="/pr/53/assets/entries/entry-server-routing.rozdxWnQ.js" type="module" async></script>
        <link rel="modulepreload" href="/pr/53/assets/entries/pages_presentations_view.fogFPvdh.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-Sg1e8hzK.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-Br-eCSQd.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-FR7Cq0V2.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-Cyu-SnOh.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-DrDjAun3.js" as="script" type="text/javascript">
      </body>
    </html>