<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/pr/53/assets/static/style-96c81c9f.BcWtY8Ol.css">
        <link rel="stylesheet" type="text/css" href="/pr/53/assets/static/src.B8dU2LIX.css">
        <meta charset="UTF-8" />
        
    <title>Full Stack Type Safety Across Languages</title><meta property="og:title" content="Full Stack Type Safety Across Languages" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charSet="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1180FLF5RC"></script><meta name="description" content="Explore how type safety can transcend language barriers, and how you can combine your front-end and back-end code into a killer monorepo with Nx, .NET, and Angular. Using openapi extraction and code generation, we will explore how changing an interface in the backend can trigger build time failures for your front end, and exactly why that is a good thing anyways.
The driving example will utilize C# and ASP.NET Core, with Angular for the front end. Alternative commands will be provided for react, but both the front end and back end can be swapped out for nearly any tool that you may want to use"/><meta property="og:description" content="Explore how type safety can transcend language barriers, and how you can combine your front-end and back-end code into a killer monorepo with Nx, .NET, and Angular. Using openapi extraction and code generation, we will explore how changing an interface in the backend can trigger build time failures for your front end, and exactly why that is a good thing anyways.
The driving example will utilize C# and ASP.NET Core, with Angular for the front end. Alternative commands will be provided for react, but both the front end and back end can be swapped out for nearly any tool that you may want to use"/><meta property="og:url" content="https://craigory.dev/pr/53/presentations/view/devup-2023-full-stack-type-safety"/><meta property="og:image:alt" content="Full Stack Type Safety Across Languages"/><meta name="twitter:image:alt" content="Full Stack Type Safety Across Languages"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css"/><script>window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-1180FLF5RC');
          </script>
    
    
    <meta property="og:image" content="https://craigory.dev/pr/53/presentations/view/devup-2023-full-stack-type-safety/og.png"><meta name="twitter:card" content="summary_large_image">
  
      </head>
      <body>
        
        <div id="root"></div>
        
        <script id="vike_pageContext" type="application/json">{"pageProps":{"is404":false},"urlPathname":"\\/presentations\\/view\\/devup-2023-full-stack-type-safety","urlParsed":{"href":"\\/presentations\\/view\\/devup-2023-full-stack-type-safety","protocol":null,"hostname":null,"port":null,"origin":null,"pathname":"\\/presentations\\/view\\/devup-2023-full-stack-type-safety","pathnameOriginal":"\\/presentations\\/view\\/devup-2023-full-stack-type-safety","search":{},"searchAll":{},"searchOriginal":null},"routeParams":{"presentation":"devup-2023-full-stack-type-safety"},"pageId":"\\/pages\\/presentations\\/view"}</script>
        <script id="vike_globalContext" type="application/json">{}</script>
        <script src="/pr/53/assets/entries/entry-server-routing.rozdxWnQ.js" type="module" async></script>
        <link rel="modulepreload" href="/pr/53/assets/entries/pages_presentations_view.fogFPvdh.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-Sg1e8hzK.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-Br-eCSQd.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-FR7Cq0V2.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-Cyu-SnOh.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/53/assets/chunks/chunk-DrDjAun3.js" as="script" type="text/javascript">
      </body>
    </html>