/* This CSS is common to all pages */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  overflow-y: scroll;
  width: 100%;
}
* {
  box-sizing: border-box;
  scroll-margin-top: 2rem;
}
a {
  text-decoration: none;
}

.layout {
  display: flex;
  margin: auto;

  .sidebar {
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8em;
    min-height: 100vh;

    .sidebar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .sidebar-footer {
      margin-top: auto;
      padding-top: 2rem;
      width: 100%;
      text-align: right;
      position: sticky;
      bottom: 1rem;

      .footer-link {
        font-size: 0.85rem;
        color: #888;
        // padding: 5px 10px;
        display: inline-block;

        &:hover {
          color: #555;
        }
      }
    }

    @media screen and (max-height: 200px) {
      .sidebar-footer {
        position: unset;
      }

      height: fit-content;
    }
  }

  .content {
    padding: 20px;
    padding-bottom: 50px;
    border-left: 2px solid #eee;
    min-height: 100vh;
    width: 100%;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    max-width: 900px;
  }

  @media screen and (min-width: 901px) and (max-width: 1199px) {
    max-width: 80vw;
  }

  // Hide desktop layout on mobile - MobileNav takes over
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.navitem {
  padding: 3px 10px;
  position: relative;
  width: 100%;
  text-align: right;
}
.navitem.is-active {
  background-color: #eee;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

ul,
ol {
  padding-left: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;

  code {
    font-size: 0.8em;
  }
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  line-height: 1.25em;
}

pre code {
  font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maiden Orange', serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
}

h1 {
  font-size: 3.25em;
  text-decoration: underline;
}

h2 {
  font-size: 2.75em;

  code {
    font-size: 0.8em;
  }
}

h3 {
  font-size: 2em;
  font-style: italic;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}
