<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/pr/26/assets/static/style-bf567ca8.BcWtY8Ol.css">
        <link rel="stylesheet" type="text/css" href="/pr/26/assets/static/view-presentation.B8dU2LIX.css">
        <meta charset="UTF-8" />
        
    <title>Smooth Scaling, Happy Coding: Navigating Monorepo Adoption with Nx</title><meta property="og:title" content="Smooth Scaling, Happy Coding: Navigating Monorepo Adoption with Nx" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charSet="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1180FLF5RC"></script><meta name="description" content="When your team grows, things get complicated fast. More apps mean more dependencies, code duplication, and headaches managing multiple repositories. At first, separate repos feel manageable, but soon you&#x27;re stuck juggling inconsistent tooling, duplicated effort, and tricky dependency puzzles.

This talk walks through the real-world journey of adopting a monorepo strategy, sharing the tough spots you&#x27;ll probably encounter along the way. I&#x27;ll show how using Nx can ease the transition and make managing your monorepo a lot smoother as well as practical ways Nx helps keep your builds fast, your workflows clean, and your developers happy.

Whether you&#x27;re already feeling the pain of scaling or just curious about monorepos, you&#x27;ll leave with useful tips, real-life insights, and solid strategies for keeping growth smooth and your codebase healthy."/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css"/><script>window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-1180FLF5RC');
          </script>
    
    
    <meta property="og:image" content="https://craigory.dev/presentations/view/kcdc-2025-monorepo-nx/og.png"><meta name="twitter:card" content="summary_large_image">
  
      </head>
      <body>
        
        <div id="root"></div>
        
        <script id="vike_pageContext" type="application/json">{"pageProps":{"is404":false},"urlPathname":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","urlParsed":{"href":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","protocol":null,"hostname":null,"port":null,"origin":null,"pathname":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","pathnameOriginal":"\\/presentations\\/view\\/kcdc-2025-monorepo-nx","search":{},"searchAll":{},"searchOriginal":null},"routeParams":{"presentation":"kcdc-2025-monorepo-nx"},"_urlRewrite":null,"pageId":"\\/pages\\/presentations\\/view"}</script>
        <script id="vike_globalContext" type="application/json">{}</script>
        <script src="/pr/26/assets/entries/entry-server-routing.DOMFRIEi.js" type="module" async></script>
        <link rel="modulepreload" href="/pr/26/assets/entries/pages_presentations_view.Dp4qIrFq.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-BiSMlUrc.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-C_jR_L7K.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-DxuxlC8X.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-CGzni5O_.js" as="script" type="text/javascript">
      </body>
    </html>