<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/pr/26/assets/static/style-bf567ca8.BcWtY8Ol.css">
        <link rel="stylesheet" type="text/css" href="/pr/26/assets/static/view-presentation.B8dU2LIX.css">
        <meta charset="UTF-8" />
        
    <title>From Spaghetti to S&#039;mores: Tasty Techniques for Code Compartmentalization</title><meta property="og:title" content="From Spaghetti to S&#039;mores: Tasty Techniques for Code Compartmentalization" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charSet="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1180FLF5RC"></script><meta name="description" content="Just as a camper carefully layers ingredients for the perfect s&#x27;more, a developer can construct code with precise structure and compartmentalization. Spaghetti code often results in a development experience that&#x27;s as messy as an over-melted marshmallow, but with the right strategies, we can achieve clarity and maintainability in our projects.

  In this session, attendees will dive into the layers of code compartmentalization, from understanding the importance of clear modular boundaries to appreciating the advantages of single-responsibility components. Additionally, a subtle yet impactful touch to this organized approach is the integration of monorepo tooling, ensuring cohesion and simplicity in larger projects.
  
  By the end, participants will be equipped with a toolkit that ensures their code remains organized, adaptable, and streamlined. Whether seeking strategies to simplify legacy systems or contemplating the management of new projects, this talk offers insights and guidance to refine your development process, much like the art of crafting a perfectly layered s&#x27;more.
  "/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css"/><script>window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-1180FLF5RC');
          </script>
    
    
    <meta property="og:image" content="https://craigory.dev/presentations/view/that-conf-tx-2024-compartmentalization/og.png"><meta name="twitter:card" content="summary_large_image">
  
      </head>
      <body>
        
        <div id="root"></div>
        
        <script id="vike_pageContext" type="application/json">{"pageProps":{"is404":false},"urlPathname":"\\/presentations\\/view\\/that-conf-tx-2024-compartmentalization","urlParsed":{"href":"\\/presentations\\/view\\/that-conf-tx-2024-compartmentalization","protocol":null,"hostname":null,"port":null,"origin":null,"pathname":"\\/presentations\\/view\\/that-conf-tx-2024-compartmentalization","pathnameOriginal":"\\/presentations\\/view\\/that-conf-tx-2024-compartmentalization","search":{},"searchAll":{},"searchOriginal":null},"routeParams":{"presentation":"that-conf-tx-2024-compartmentalization"},"_urlRewrite":null,"pageId":"\\/pages\\/presentations\\/view"}</script>
        <script id="vike_globalContext" type="application/json">{}</script>
        <script src="/pr/26/assets/entries/entry-server-routing.DOMFRIEi.js" type="module" async></script>
        <link rel="modulepreload" href="/pr/26/assets/entries/pages_presentations_view.Dp4qIrFq.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-BiSMlUrc.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-C_jR_L7K.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-DxuxlC8X.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/26/assets/chunks/chunk-CGzni5O_.js" as="script" type="text/javascript">
      </body>
    </html>