// Consider element order: Title -> Location -> Date -> Description -> Title etc.
//                         ^0       ^1          ^2          ^3         ^4
// We want something like:
// title       location
// title       date
// description description
//
// grid-template-area doesn't have auto repeating rows.
.presentation-container {
  display: grid;
  // Wide area for title, slim area for location and date
  grid-template-columns: 2fr 1fr;
  // First + Second rows are sized to be consistent, third row is sized to fit content.
  grid-auto-rows: 1fr 1fr min-content;
  grid-auto-flow: dense;

  margin-bottom: 1.5rem;
  padding: 0.5rem;

  // Mobile: single column stack
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  & > .location,
  & > .date {
    text-align: right;

    @media screen and (max-width: 600px) {
      text-align: left;
    }
  }

  & > .title {
    // Title is takes 2 rows, 1 column (see area diagram above)
    grid-area: span 2 / span 1;

    @media screen and (max-width: 600px) {
      grid-area: auto;
    }
  }

  & > .description {
    // Description is takes 1 row, 2 columns (see area diagram above)
    grid-area: span 1 / span 2;

    @media screen and (max-width: 600px) {
      grid-area: auto;
    }
  }

  &.active {
    background-color: beige;
    background: linear-gradient(beige, wheat);
    border-radius: 0.5rem;
    box-shadow: #9b907f 0.25em 0.25em 12px;

    transform: rotate(1deg);
    transition: transform 0.25s ease-in-out;

    @media screen and (max-width: 600px) {
      transform: none; // Don't rotate on mobile - can cause overflow
    }

    a {
      color: #95957c;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
}
