<!DOCTYPE html>
    <html lang='en'>
      <head>
        <link rel="stylesheet" type="text/css" href="/pr/12/assets/static/Layout.DyYECir4.css">
        <link rel="stylesheet" type="text/css" href="/pr/12/assets/static/view-presentation.pnF2VRTw.css">
        <link rel="stylesheet" type="text/css" href="/pr/12/assets/static/Head.5if0RVJt.css">
    <meta charset="UTF-8" />
    <title>Craigory Coppola - View Presentation</title><meta property="og:title" content="Craigory Coppola - View Presentation" />
    <meta charSet="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta name="description" content="Personal website of Craigory Coppola"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css"/><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1180FLF5RC"></script><script>window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-1180FLF5RC');
          </script>
    
  </head>
      <body>
        <div id="root"></div>
        <script id="vike_pageContext" type="application/json">{"pageProps":"!undefined","urlPathname":"/presentations/view/devup-2023-benchmarking","urlParsed":{"origin":null,"pathname":"/presentations/view/devup-2023-benchmarking","pathnameOriginal":"/presentations/view/devup-2023-benchmarking","search":{},"searchAll":{},"searchOriginal":null},"routeParams":{"presentation":"devup-2023-benchmarking"},"data":"!undefined","abortReason":"!undefined","_urlRewrite":null,"_urlRedirect":"!undefined","abortStatusCode":"!undefined","_abortCall":"!undefined","_pageContextInitIsPassedToClient":"!undefined","_pageId":"/pages/presentations/view"}</script>
        <script src="/pr/12/assets/entries/entry-server-routing.BsUWC7hk.js" type="module" async></script>
        <link rel="modulepreload" href="/pr/12/assets/entries/pages_presentations_view.MMSaS6qG.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/12/assets/chunks/chunk-B2i7gW2R.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/12/assets/chunks/chunk-CDQ-4LUT.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/pr/12/assets/chunks/chunk-GvhJ67bf.js" as="script" type="text/javascript">
      </body>
    </html>