code.hljs {
  border-radius: 8px;
  box-shadow: 0 4px 8px #000000e8;
  padding: 16px;
}

pre.has-filename > code {
  border-radius: 0 0 8px 8px;
}

code {
  // Styling for inline code blocks
  background-color: #f4f4f4;
  border-radius: 4px;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
}

div {
  min-width: 0;
}

h2,
h3,
h4 {
  .heading-link {
    color: #00000000;
    margin-left: 0.5em;
  }

  &:hover {
    .heading-link {
      color: #889;
      display: inline-block;
    }
  }
}
