.percent-bar-fill {
  background-color: #858;
  border-radius: 5px;
  height: 100%;
  transition: width 0.75s ease-in-out;
  color: white;
}

.percent-bar-label {
  display: block;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
}

tr:nth-child(even) .percent-bar-fill {
  background-color: #646;
}

.percent-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  margin: 0.25em;
}
